:root {
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  --leading-color: #000;
  --action-color: #2196f3;
  --text-action-color: #fff;
  --contacts-color: #757575;
  --background-footer: #2f303a;
  --background-menu: #fff;
  --background-main: #e5e5e5;
  --background-team: #f5f4fa;
  --title-lorem: #212121;
  --text-lorem: #757575;
  --main-portfolio: #fff;
  --header-line: #ececec;
  --border-box: #eee;
  --icon-color: #afb1b8;
}

.body {
  font-family: var(--main-font), var(--second-font);
  background: var(--background-menu);
  max-width: 1600px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
figure {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-agency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--background-menu);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--background-menu);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--header-line);
}

.logo {
  font-family: var(--second-font);
  color: var(--action-color);
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  margin-top: 24px;
  margin-right: 93px;
  margin-bottom: 25px;
}

.logo .logo__span {
  color: var(--leading-color);
}

.nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.nav .nav__agency,
.nav .nav__portfolio,
.nav .nav__contact {
  color: var(--leading-color);
  font-size: 14px;
  line-height: 1.1;
  font-weight: 500;
}

.nav .nav__agency .nav__agency:hover,
.nav .nav__agency .nav__agency:focus,
.nav .nav__agency .nav__portfolio:hover,
.nav .nav__agency .nav__portfolio:focus,
.nav .nav__agency .nav__contact:hover,
.nav .nav__agency .nav__contact:focus,
.nav .nav__portfolio .nav__agency:hover,
.nav .nav__portfolio .nav__agency:focus,
.nav .nav__portfolio .nav__portfolio:hover,
.nav .nav__portfolio .nav__portfolio:focus,
.nav .nav__portfolio .nav__contact:hover,
.nav .nav__portfolio .nav__contact:focus,
.nav .nav__contact .nav__agency:hover,
.nav .nav__contact .nav__agency:focus,
.nav .nav__contact .nav__portfolio:hover,
.nav .nav__contact .nav__portfolio:focus,
.nav .nav__contact .nav__contact:hover,
.nav .nav__contact .nav__contact:focus {
  color: var(--action-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav .nav__agency--active {
  color: var(--action-color);
  font-size: 14px;
  line-height: 1.1;
  font-weight: 500;
}

.nav .nav__agency--active::after {
  content: "";
  display: block;
  background-color: var(--action-color);
  height: 4px;
  width: 100%;
  border-radius: 2px;
  margin-top: 28px;
  z-index: 2;
}

.nav .nav__portfolio--active {
  color: var(--action-color);
  font-size: 14px;
  line-height: 1.1;
  font-weight: 500;
}

.nav .nav__portfolio--active::after {
  content: "";
  display: block;
  background-color: var(--action-color);
  height: 4px;
  width: 100%;
  border-radius: 2px;
  margin-top: 28px;
}

.nav .nav__agency--active,
.nav .nav__portfolio--active,
.nav .nav__portfolio,
.nav .nav__agency {
  margin-right: 46px;
}

.e-mail {
  margin-left: 345px;
}

.e-mail,
.phone {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--contacts-color);
}

.e-mail:hover,
.e-mail:focus,
.phone:hover,
.phone:focus {
  fill: var(--action-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.e-mail__link,
.phone__link {
  display: inline;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  line-height: 1.1;
  font-weight: 500;
  color: var(--contacts-color);
  font-size: 14px;
}

.e-mail__link {
  margin-right: 30px;
  margin-left: 10px;
}

.phone__link {
  margin-left: 10px;
}

.e-mail__link:focus,
.e-mail__link:hover,
.phone__link:focus,
.phone__link:hover {
  color: var(--action-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.e-mail__link,
.phone__link {
  padding-bottom: 32px;
}

.nav__agency--active,
.nav__portfolio--active,
.nav__portfolio,
.nav__agency,
.nav__contact,
.e-mail__link,
.phone__link {
  padding-top: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--background-footer);
  height: 600px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/team.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/team.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.title-page {
  color: var(--text-action-color);
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 200px;
  padding-bottom: 30px;
  letter-spacing: 0.06em;
}

.button-order {
  background: var(--action-color);
  color: var(--text-action-color);
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  width: 200px;
  margin-left: 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  border-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 200px;
}

.section-lorem {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--main-portfolio);
  margin: 94px 0;
}

.lorem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: calc(100% / 4 -30px);
      flex-basis: calc(100% / 4 -30px);
}

.lorem .lorem__item:not(:last-child) {
  padding-right: 30px;
}

.lorem .lorem__title {
  color: var(--title-lorem);
  font-size: 14px;
  line-height: 1.1;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.lorem .lorem__text {
  color: var(--text-lorem);
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  text-align: left;
}

.lorem .lorem__icon {
  width: 270px;
  height: 120px;
  background-color: var(--background-team);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.section-activities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title-activities {
  color: var(--title-lorem);
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.activities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 94px;
}

.activities .activities__picture {
  width: 370px;
  padding: 0px;
}

.activities .activities__picture:not(:last-child) {
  margin-right: 30px;
}

.activities .activities__thumb {
  position: relative;
}

.activities .activities__label {
  position: absolute;
  top: 224px;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.172;
  text-transform: uppercase;
  text-align: center;
  padding: 27px 90px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #fff;
}

.section-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--background-team);
}

.title-team {
  color: var(--title-lorem);
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 94px;
}

.team .team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .team__item:not(:last-child) {
  margin-right: 30px;
}

.team .team__photo {
  max-width: 270px;
}

.team .team__name {
  color: var(--title-lorem);
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  text-align: center;
  padding: 0 15px;
}

.team .team__occupation {
  color: var(--text-lorem);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  padding: 0 15px;
}

.team .team__description {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 270px;
  padding: 20px 24px;
  background-color: var(--background-menu);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 16px;
}

.team-social .team-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  background-color: var(--background-menu);
  fill: var(--icon-color);
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-social .team-social__link:hover, .team-social .team-social__link:focus {
  fill: var(--text-action-color);
  background-color: var(--action-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title-clients {
  color: var(--title-lorem);
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients .clients__item {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 94px;
}

.clients .clients__item:hover, .clients .clients__item:focus {
  border-color: var(--action-color);
  fill: var(--action-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients .clients__link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--main-portfolio);
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 15px;
  margin-right: 310px;
  margin-bottom: 34px;
  margin-left: 310px;
}

.buttons .buttons__item {
  padding-right: 8px;
  padding-bottom: 16px;
  margin-top: 94px;
}

.buttons .buttons__btn {
  color: var(--title-lorem);
  background: var(--background-team);
  border-color: var(--background-team);
  border-radius: 4px;
  border-style: none;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  cursor: pointer;
  padding: 6px 22px;
}

.buttons .buttons__btn:hover, .buttons .buttons__btn:focus {
  background: var(--action-color);
  color: var(--text-action-color);
  border-color: var(--action-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 94px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio .portfolio__item {
  margin-bottom: 30px;
  border-bottom: 1px solid var(--border-box);
}

.portfolio .portfolio__item:hover, .portfolio .portfolio__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .portfolio__box {
  position: relative;
  overflow: hidden;
}

.portfolio .portfolio__box:hover .portfolio__overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .portfolio__text {
  color: #fff;
  padding: 49px 45px 49px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  font-weight: 400;
}

.portfolio .portfolio__description {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 370px;
  padding: 20px 24px;
  border-right: 1px solid var(--border-box);
  border-left: 1px solid var(--border-box);
}

.portfolio .portfolio__title {
  color: var(--title-lorem);
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
}

.portfolio .portfolio__label {
  color: var(--text-lorem);
  font-size: 16px;
  line-height: 1.88;
}

.footer {
  background: var(--background-footer);
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.logo-inline {
  font-family: var(--second-font);
  color: var(--action-color);
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 20px;
  display: inline;
  margin-right: 171px;
}

.logo-inline .logo-inline__span {
  color: var(--text-action-color);
}

.join-us {
  display: inline;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--background-menu);
  padding-bottom: 20px;
}

.e-mail-footer,
.phone-footer {
  line-height: 1.71;
  text-decoration: none;
  padding-top: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}

.phone-footer {
  padding-bottom: 60px;
}

.e-mail-footer:hover,
.e-mail-footer:focus,
.phone-footer:hover,
.phone-footer:focus {
  color: var(--action-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  color: var(--text-action-color);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
  padding-top: 20px;
}

.social-footer .social-footer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-footer .social-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  fill: var(--background-menu);
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-footer .social-footer__link:hover, .social-footer .social-footer__link:focus {
  background-color: var(--action-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-left: 78px;
}

.form .form__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-footer);
  color: var(--background-menu);
}

.form .form__input::-webkit-input-placeholder {
  width: 47px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 295px 15px 16px;
}

.form .form__input:-ms-input-placeholder {
  width: 47px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 295px 15px 16px;
}

.form .form__input::-ms-input-placeholder {
  width: 47px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 295px 15px 16px;
}

.form .form__input::placeholder {
  width: 47px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 295px 15px 16px;
}

.sign-up {
  width: 207px;
  height: 16px;
  margin-left: 78px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--background-menu);
}

.footer .sign-up-button {
  position: relative;
  padding-right: 76px;
}

.sign-up-button {
  display: relative;
  padding-top: 10px;
  padding-left: 42px;
  padding-bottom: 10px;
  width: 200px;
  height: 50px;
  background: var(--action-color);
  border-radius: 4px;
  color: var(--background-menu);
  border-style: none;
  font-weight: 700;
}

.sign-up-button .sign-up-button__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 28px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: 550ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  background: var(--background-menu);
  width: 528px;
  height: 581px;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

.modal .modal__button {
  width: 30px;
  height: 30px;
  background-color: var(--background-menu);
  fill: var(--leading-color);
  border: 1px solid #0000001a;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-lorem);
  padding-top: 40px;
  margin-bottom: 12px;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form .modal-form__label {
  margin-right: 40px;
  margin-bottom: 10px;
  margin-left: 40px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--contacts-color);
}

.modal-form .modal-form__wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form .modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form .modal-form__input:focus {
  border-color: var(--action-color);
  outline: none;
}

.modal-form .modal-form__input:focus + .modal-form__icon {
  fill: var(--action-color);
}

.modal-form .modal-form__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 12px;
  fill: var(--title-lorem);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form .modal-form__text {
  margin-right: 40px;
  margin-bottom: 20px;
  margin-left: 40px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--contacts-color);
}

.modal-form .modal-form__message {
  outline: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form .modal-form__message:focus {
  border-color: var(--action-color);
}

.modal-label-text {
  margin-right: 40px;
  margin-bottom: 20px;
  margin-left: 40px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--contacts-color);
}

.modal-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  background-color: var(--action-color);
  color: var(--background-menu);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  margin-right: 164px;
  margin-bottom: 40px;
  margin-left: 164px;
}

.visually-hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-right: 54px;
  margin-bottom: 30px;
  margin-left: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 419px;
  height: 24px;
}

.policy .policy__text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}

.policy .policy__text::before {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid var(--title-lorem);
  border-radius: 2px;
  margin-top: 20px;
}

.policy .policy__text .policy__text--link {
  color: var(--action-color);
}

.policy .policy__checkbox:checked + .policy__text::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  background-size: contain;
  border-color: var(--action-color);
  background-color: var(--action-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */