@media screen and (max-width: 767px) {
  .footer {
    justify-content: center;
  }

  .container-footer {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }

  .footer-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }

  .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }

  .form__input {
    width: 100%;
    margin-bottom: 20px;
  }

  .sign-up-button {
    display: inline;
    align-items: center;
    justify-content: center;
    margin-left: 125px;
  }

  .sign-up-button__icon {
    margin-left: 24px;
    margin-right: 28px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    justify-content: center;
  }

  .container-footer {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }

  .footer-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }

  .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }

  .form__input {
    width: 100%;
    margin-bottom: 20px;
  }

  .sign-up-button {
    display: inline;
    align-items: center;
    justify-content: center;
    margin-left: 235.15px;
  }

  .sign-up-button__icon {
    margin-left: 24px;
    margin-right: 28px;
  }
}

@media screen and (min-width: 1200px) {
  .container-footer {
    width: 1200px;
    justify-content: flex-start;
  }

  .logo-inline {
    margin-right: 171px;
  }

  .phone-footer {
    padding-bottom: 60px;
  }

  .form {
    margin-left: 78px;

    .form__input {
      width: 358px;
      margin-right: 12px;
    }
  }

  .sign-up {
    margin-left: 78px;
  }

  .footer .sign-up-button {
    position: relative;
    padding-right: 76px;
  }

  .sign-up-button {
    display: relative;

    .sign-up-button__icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 28px;
    }
  }
}

.footer {
  background: var(--background-footer);
  padding-top: 60px;
  display: flex;
}

.container-footer {
  display: flex;
  padding: 0 15px;
  margin: 0 auto;
}

.logo-inline {
  font-family: var(--second-font);
  color: var(--action-color);
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 20px;
  display: inline;

  .logo-inline__span {
    color: var(--text-action-color);
  }
}

.join-us {
  display: inline;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--background-menu);
  padding-bottom: 20px;
}

.e-mail-footer,
.phone-footer {
  line-height: 1.71;
  text-decoration: none;
  padding-top: 9px;
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}

.e-mail-footer:hover,
.e-mail-footer:focus,
.phone-footer:hover,
.phone-footer:focus {
  color: var(--action-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  color: var(--text-action-color);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  padding-top: 20px;
  display: flex;
}

.social-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 206px;
  padding-top: 20px;

  .social-footer__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social-footer__link {
    display: flex;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    fill: var(--background-menu);
    border-radius: 50%;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
      background-color: var(--action-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.form {
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  .form__input {
    height: 50px;
    padding: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--background-footer);
    color: var(--background-menu);

    &::placeholder {
      width: 47px;
      height: 20px;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
      padding: 15px 295px 15px 16px;
    }
  }
}

.sign-up {
  width: 207px;
  height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--background-menu);
}

.sign-up-button {
  padding-top: 10px;
  padding-left: 42px;
  padding-bottom: 10px;
  width: 200px;
  height: 50px;
  background: var(--action-color);
  border-radius: 4px;
  color: var(--background-menu);
  border-style: none;
  font-weight: 700;
}
