@media screen and (max-width: 480px) {
  .menu {
    display: none;
    background: var(--background-menu);
    position: relative;

    .menu__button {
      background-color: var(--background-menu);
      justify-content: flex-end;
      padding-top: 10px;
      padding-right: 15px;
      position: relative;
    }

    .menu__button--closing {
      background-color: var(--background-menu);
      fill: var(--leading-color);
      border: none;
    }

    .menu__agency--active {
      color: var(--action-color);
      font-weight: 500;
      font-size: 40px;
      line-height: 47px;
      letter-spacing: 0.02em;
    }

    .menu__portfolio,
    .menu__contact {
      color: var(--leading-color);
      font-weight: 500;
      font-size: 40px;
      line-height: 47px;
      letter-spacing: 0.02em;
    }
  }
}

@media screen and (max-width: 768px) {
  .button-is-hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

@media screen and (max-width: 1200px) {
  .button-is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
