@media screen and (max-width: 767px) {
  .section-lorem {
    margin: 60px 0;
  }

  .lorem {
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
  }

  .lorem__icon {
    width: 450px;
  }

  .lorem__title,
  .lorem__text {
    padding-left: 15px;
    padding-right: 15px;
  }

  .lorem__title {
    text-align: center;
  }

  .lorem__item:not(:last-child) {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-lorem {
    margin-top: 60px;
    margin-bottom: 45px;
  }

  .lorem {
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
    flex-basis: calc(100% / 2 -30px);
  }

  .lorem__icon {
    width: 354px;
  }

  .lorem__title,
  .lorem__text {
    padding-left: 15px;
    padding-right: 15px;
  }

  .lorem__item {
    width: 354px;
  }

  .lorem__item:nth-child(1),
  .lorem__item:nth-child(2) {
    padding-bottom: 30px;
  }

  .lorem__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section-lorem {
    margin: 94px 0;
  }

  .lorem {
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;

    .lorem__item:not(:last-child) {
      margin-right: 30px;
    }

    .lorem__icon {
      width: 270px;
    }

    .lorem__item {
      width: 270px;
    }
  }
}

.section-lorem {
  justify-content: center;
  background: var(--main-portfolio);
}

.lorem {
  display: flex;
  justify-content: center;

  .lorem__title {
    color: var(--title-lorem);
    font-size: 14px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 10px;
  }

  .lorem__text {
    color: var(--text-lorem);
    font-size: 14px;
    line-height: 1.71;
    font-weight: 400;
    text-align: left;
  }

  .lorem__icon {
    height: 120px;
    background-color: var(--background-team);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
}
