@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    padding: 16px 15px;
    min-width: 320px;
    width: 480px;
    overflow-y: hidden;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    padding: 0 15px;
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 15px;
  }
}

.container {
  margin: 0 auto;
  justify-content: center;
}
