:root {
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  --leading-color: #000;
  --action-color: #2196f3;
  --text-action-color: #fff;
  --contacts-color: #757575;
  --background-footer: #2f303a;
  --background-menu: #fff;
  --background-main: #e5e5e5;
  --background-team: #f5f4fa;
  --title-lorem: #212121;
  --text-lorem: #757575;
  --main-portfolio: #fff;
  --header-line: #ececec;
  --border-box: #eee;
  --icon-color: #afb1b8;
}
